footer.footer {
  width: 100%;
  margin-top: 4rem;
  font-family: "Roboto", sans-serif !important;
  color: #fff;
}
footer.footer a {
  line-height: 2rem;
  color: #fff;
}

footer.footer .div__seccion-footer {
  width: 100%;
  background-color: var(--color-secundario);
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 2rem 4rem;
}

.div__agradecimientos{
  width: 30vw;
}

.title_agradecimientos{
  margin-bottom: 1rem;
}

footer.footer .div__derechos-autor {
  width: 100%;
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-secundario);
}

/* Logo del footer */
.div__menu-logo {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Dancing Script", cursive !important;
  letter-spacing: 0.3rem;
}

.div__footer-contacto {
  width: 40vh;
  padding: 1rem;
  border-radius: 10px;
  position: fixed;
  padding: 1rem;
  bottom: -80%;
  left: 1rem;
  z-index: 1000;
  transition: bottom .8s ease-in-out;
  background-color: var(--color-secundario);
  box-shadow: 4px 11px 5px 2px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 4px 11px 5px 2px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 4px 11px 5px 2px rgba(0, 0, 0, 0.31);
}
.div__footer-contacto.open html{
  position: relative;
}
.div__footer-contacto.open{
  bottom: 1rem;
}
.div__footer-contacto h2 {
  text-align: end;
  border-bottom: 1px solid var(--color-white);
}
.div__footer-contacto .form-row {
  width: 100%;
  position: relative;
}

.form-control {
  display: block;
}

.div__footer-contacto .form-row label {
  position: absolute;
  top: 0;
  right: 1.5rem;
  color: #000;
  text-align: center;
  line-height: 1.5rem;
  transition: top 0.5s ease-in-out;
}
.div__footer-contacto .form-row input {
  width: 100%;
  height: 1.5rem;
  margin-top: 1.5rem;
  z-index: 01;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.inp-form:focus + .label-form {
  text-align: start;
  top: -1.5rem;
  left: 1.5rem;
  color: #fff;
}

.label-activo {
  text-align: start !important;
  top: -1.5rem !important;
  left: 1.5rem !important;
  color: #fff !important;
}

.span__btn-enviar {
  display: block;
  line-height: 3rem;
  text-align: center;
  margin-top: 1rem;
  background-color: var(--rgba-black-3);
  border-radius: 5px;
  transition: background-color .5s ease-in-out;
  font-weight: bold;
  letter-spacing: .2rem;
}

.span__btn-enviar:hover{
    cursor: pointer;
    background-color: var(--rgba-black-6);
}

.txt-detalle{
  width: 100%;
  margin-top: 2rem;
  border-radius: 5px ;
  border: none;
  outline: none;
  padding: .5rem 1rem;
}

@media screen and (max-width: 767px) {
  footer.footer .div__seccion-footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .div__logo-seccion{
    width: 100%;
    height: 10vh;
    margin-bottom: 2rem;
  }
  .div__footer-contacto,
  .div__footer-servicios {
    margin-bottom: 3rem;
  }
}
