.bg-hero {
  max-width: 100vw; /* Ocupa el 100% del ancho */
  height: 100vh; /* Ocupa el 100% de alto */
  background-image: url("../image/images/inicio-image-web.jpg"); /* Imagen que quieres poner */
  background-size: cover; /* Para que cubra todo */
  background-position: center; /* Como deseas posicionarlo */
  background-repeat: no-repeat; /* Para que no se repita la imagen */
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.bg-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  height: 100vh;
  /* background-color: var(--rgba-black-5); */
  z-index: 1;
}

.bg-hero > .section-left {
  width: 300px;
  height: 150px;
  background-color: var(--rgba-black-6);
  color: var(--color-white);
  z-index: 10;
  margin-left: 5rem;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.bg-hero > .section-left > h2 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
.bg-hero > .section-left > p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif !important;
}

@media screen and (max-width: 767px) {
  .bg-hero > .section-left {
    position: absolute;
    margin: 0;
    left: 1rem;
    bottom: 9rem;
  }
}
